html, body{
margin:0;
padding: 0;
overflow-x: hidden;
background:#f5f6f8;
font-family:Arial;
}

.app{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;

overflow-x: hidden;
}

.logout{
position:fixed;
top:15px;
right:20px;
}

/* login */

.login{
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  box-sizing: border-box;

  text-align: center;
}

/* calendar card */

.calendar-card{
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,.08);
}

/* memo dot */

.dot{
width:6px;
height:6px;
background:red;
border-radius:50%;
margin:auto;
margin-top:4px;
}

/* modal */

.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.35);

display:flex;
justify-content:center;
align-items:center;
}

/* memo */

.memo{
width:520px;
max-width:90vw;
background:white;
padding:20px;
border-radius:12px;
display:flex;
flex-direction:column;
}

.memo textarea{
height:300px;
margin-top:10px;
}

.preview{
height:300px;
overflow:auto;
margin-top:10px;
}

/* header */

.memo-header{
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.memo-header h2{
  margin: 0;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}

.actions{
display:flex;
justify-content:center;
gap:10px;
margin-top:15px;
}

.delete{
background:red;
color:white;
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: none;
  font-family: Arial;
}

.react-calendar__navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.react-calendar__navigation button {
  min-width: auto;
  padding: 5px 10px;
  background: none;
  border: none;
  font-size: 18px;
}

.react-calendar__navigation__label {
  flex-grow: 0 !important;
  white-space: nowrap;
}

.react-calendar__month-view__weekdays{
  text-align: center;
  font-weight: bold;
}

.react-calendar__tile{
  padding: 12px 0;
  height: 60px;
}

.react-calendar__tile--now{
  background: #e6f0ff;
  border-radius: 8px;
}

.react-calendar__tile--active{
  background: #007bff;
  color: white;
  border-radius: 8px;
}

/* mobile */

@media (max-width:768px){

.app{
  padding: 10px;
}

.calendar-card{
  width:100%;
  padding:10px;
}

.react-calendar{
  width:100% !important;
}

.memo{
width:100%;
height:100%;
border-radius:0;
}

.memo textarea,
.preview{
height:100%;
}

.login{
  justify-content: flex-start;
  padding-top: 80px;
}

.react-calendar__tile{
  height: 50px;
}
}